/* color palette from <https://github.com/vuejs/theme> with custom entries */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #1e1e1e;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-green: #00a35c;
  --vt-c-bhue-black: #242326;
  --vt-c-bhue-black-soft: #29282b;
  --vt-c-pink: #e40cc7;


  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(224, 224, 224, 1);
  --vt-c-text-dark-2-soft: rgba(224, 224, 224, 0.70);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-bhue-black);
  --color-background-soft: var(--vt-c-bhue-black-soft);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
  --color-text-soft: var(--vt-c-text-dark-2-soft);

  --color-primary: var(--vt-c-mint);

  --section-gap: 160px;
}

/* We have this removed because we are not using a light mode */
/* @media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --color-primary: var(--vt-c-mint);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}

html, body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  line-height: 1.6;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, p, span, li {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
