@import './base.css';

@font-face {
    font-family: 'SixtyFour';
    src: url('./fonts/Sixtyfour.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KodeMono';
    src: url('./fonts/KodeMono.ttf');
    font-style: normal;
    font-display: swap;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.7s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.button-fade-enter-active,
.button-fade-leave-active {
  transition: all 0.5s ease;
}

.button-fade-enter-from,
.button-fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.button-fade-enter-to,
.button-fade-leave-from {
  opacity: 1;
  transform: translateY(0);
}